* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Open Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Ubuntu';
  font-size: inherit;
  font-weight: 400;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}

.container {
  width: 1070px;
  margin: 0 auto;
}

figure {
  padding: 10px; /* Поля вокруг */
  display: block; /* Блочный элемент */
  margin: 0 auto; /* Отступы */
  text-align: center; /* Выравнивание по центру */
}

/* HEAD container */
.header-container {
  background: rgba(255, 236, 221, 1);
  background: -moz-linear-gradient(-45deg, rgba(255, 236, 221, 1) 0%, rgba(253, 227, 208, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255, 236, 221, 1)), color-stop(100%, rgba(253, 227, 208, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(255, 236, 221, 1) 0%, rgba(253, 227, 208, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255, 236, 221, 1) 0%, rgba(253, 227, 208, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255, 236, 221, 1) 0%, rgba(253, 227, 208, 1) 100%);
  background: linear-gradient(135deg, rgba(255, 236, 221, 1) 0%, rgba(253, 227, 208, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffecdd', endColorstr='#fde3d0', GradientType=1 );
  padding-top: 20px;
  padding-bottom: 45px;
  color: #000000;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 100%;
  margin-top: 20px;
}

.main-nav-items {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
}

.main-menu-item {
  margin-left: 20px;
}

.main-menu-item a {
  color: #000000;
}

.main-menu-item a:hover {
  border-bottom: 1px solid;
  padding-bottom: 7px;
}

p {
  line-height: 1.8em;
  margin-bottom: 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.description {
  margin-top: 50px;
  width: 570px;
}

.description-head-p {
  font-size: 37px;
  font-weight: 700;
  line-height: 1.4em;
  font-family: 'Ubuntu';
}

.title-book {
  font-size: 45px;
  color: #663300;
}

.description-intro {
  font-size: 16px;
  margin-top: 45px;
}

.btn {
  font-family: 'Montserrat';
  font-weight: 900;
  background: #ffd429;
  color: #2e2a1b;
  display: block;
  width: 220px;
  padding: 19px 0;
  text-align: center;
  margin-top: 40px;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #d6b223;
}

.desctop {
  width: 400px;
}

/* MAIN container */
.wrapper-section,
.box-content {
  display: flex;
  margin-top: 30px;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.introduction {
  padding-top: 70px;
  padding-bottom: 70px;
}

.introduction-img {
  width: 250px;
  margin-right: 50px;
  margin-top: 15px;
}

.introduction-img2 {
  width: 300px;
  margin-left: 50px;
  margin-top: 65px;
}

.introduction-text2 {
  margin-top: 50px;
}

.insert {
  background: rgba(255, 236, 221, 1);
  background: -moz-linear-gradient(-45deg, rgba(255, 236, 221, 1) 0%, rgba(253, 227, 208, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255, 236, 221, 1)), color-stop(100%, rgba(253, 227, 208, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(255, 236, 221, 1) 0%, rgba(253, 227, 208, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255, 236, 221, 1) 0%, rgba(253, 227, 208, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255, 236, 221, 1) 0%, rgba(253, 227, 208, 1) 100%);
  background: linear-gradient(135deg, rgba(255, 236, 221, 1) 0%, rgba(253, 227, 208, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffecdd', endColorstr='#fde3d0', GradientType=1 );
  padding-top: 20px;
  padding-bottom: 45px;
  color: #000000;
}

.insert-description {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.insert-btn {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 800;
}

.insert-btn a {
  color: #663300;
}

.section-problems {
  padding-top: 70px;
  padding-bottom: 70px;
}

.problems-border-right {
  margin-top: 40px;
}

.problems-item {
  margin-left: 15px;
  margin-bottom: 7px;
  text-align: left;
}

.margin-wrapper {
  padding-top: 100;
}

.quote {
  border-left: 3px solid rgb(57, 58, 155);
  padding-left: 30px;
  padding-right: 20px;
  background: rgb(248, 236, 221);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 25px;
}

.quote-title {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 700;
}

.recommendation {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #ecf3f8;
}

.section-subtitle,
.box__subtitle {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.img-flex,
.box__img {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.list-item,
.box__item {
  list-style: circle;
  margin-bottom: 7px;
  margin-left: 15px;
}
.recommendation-sublist > li {
  margin-left: 50px;
}

.xmind {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #ecf3f8;
}

.xmind-img {
  display: block;
  margin: 50px auto;
  border: 1px solid rgb(179, 179, 179);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn-introduction {
  font-family: 'Montserrat';
  font-weight: 900;
  background: #ffd429;
  color: #2e2a1b;
  display: block;
  width: 220px;
  padding: 19px 0;
  text-align: center;
  margin-top: 40px;
  transition: all 0.5s ease;
}

.btn-introduction:hover {
  background: #d6b223;
}

.button-introduction {
  display: flex;
  justify-content: center;
}

.procrastination,
.thanks {
  padding-top: 70px;
  padding-bottom: 70px;
}

.procrastination-item {
  text-align: center;
  width: 300px;
}

.procrastination-item img {
  margin-bottom: 35px;
  height: 70px;
}

.procrastination-item h3 {
  margin-bottom: 15px;
}

.ending {
  text-align: center;
  font-size: 16px;
  margin-top: 70px;
  margin-bottom: 40px;
}

.ending-eleph {
  text-align: center;
  font-size: 16px;
}

.ending-item {
  margin-bottom: 15px;
}

.target {
  margin-top: 50px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #164d7a;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

/*Responsive*/
/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .description {
    margin-top: 100px;
  }
  .desctop {
    margin-top: 30px;
  }
  .header-conteiner {
    padding-bottom: 125px;
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
    text-align: center;
  }

  .wrapper-section,
  .box-content {
    display: block;
  }

  .img-flex,
  .box__img {
    margin-right: 0;
    justify-content: center;
  }

  .list-item,
  .box__item,
  .recommendation-items {
    text-align: left;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .main-nav {
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    display: block;
    width: 30%;
    margin: 0 auto 0;
  }

  .main-nav-items {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  .description {
    width: 100%;
    margin-top: 75px;
  }

  .intro {
    width: auto;
  }

  .desctop {
    display: block;
    width: 60%;
    margin: 0 auto 0;
  }
  .procrastination-item {
    width: auto;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .header {
    padding-bottom: 50px;
  }
  .btn {
    margin: 50px auto;
  }
  .section-title {
    margin-bottom: 40px;
  }

  .xmind-img {
    width: 100%;
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .desktop {
    width: 100%;
  }
  .btn {
    width: 80%;
  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .title h1 {
    font-size: 26px;
  }
  .title h1 span {
    font-size: 49px;
  }
  .section-title {
    font-size: 26px;
  }
  .btn-form {
    width: 100%;
  }

  .target {
    width: 100%;
  }

  .wrapper-section {
    flex-wrap: wrap;
    justify-content: center;
  }

  .introduction-img2,
  .introduction-img {
    width: 70%;
    height: 70%;
    margin: 0 0;
  }

  .main-nav-items {
    flex-wrap: wrap;
  }
  .insert-btn {
    flex-wrap: wrap;
  }
}
.back-to-top {
  background: #3e64ff;
  border-radius: 50%;
  position: fixed;
  bottom: -50px;
  padding: 10px 12px;
  right: 50px;
  cursor: pointer;
  transition: 0.3s all;
}

.back-to-top svg {
  fill: #ffffff;
}

.back-to-top.active {
  bottom: 50px;
  transition: 0.3s all;
}
